[submodule "themes/lp-dream"]
	path = themes/lp-dream
	url = https://github.com/LearnerPrivacy/hugo-theme-dream.git
[submodule "public"]
	path = public
	url = https://github.com/LearnerPrivacy/LearnerPrivacy.github.io.git
	branch = master
